body {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

h1 {
  text-align: center;
  font-size: 100%;
}

#player {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1em;
  padding: 1em;
  background: #555;
  color: white;
  border-radius: 0.2em;
}

#progress {
  --position: 0%;
  position: relative;
  height: 0.2em;
  width: 100%;
  background: #ddd;
  border-radius: 0.1em;
  border-top: 1px solid white;
  border-bottom: 1px solid black;
}

#progress::before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: var(--position);
  background: #f38927;
}

#controls,
fieldset {
  display: flex;
  align-items: center;
}

#controls {
  gap: 1em;
}

fieldset {
  gap: 0.2em;
  border: none;
  padding: 0;
}

button {
  cursor: pointer;
  width: 2em;
  height: 2em;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: 1px solid transparent;
  background: #a1a1a1;
  border-top: 2px solid #cbcbcb;
  border-bottom: 2px solid black;
  font: inherit;
  color: inherit;
}

button svg {
  width: 75%;
  height: 75%;
}

fieldset button:first-child {
  color: #c0ff00;
}

button:is([aria-pressed="true"], :active) {
  border-bottom: 2px solid #cbcbcb;
  border-top: 2px solid black;
}

span[role="status"] {
  display: flex;
  gap: 0.2em;
  align-items: center;
  text-transform: uppercase;
  font-size: 87.5%;
}

#pause-indicator {
  text-indent: 100%;
  overflow: hidden;
  width: 0.8em;
  height: 0.8em;
  border-radius: 0.4em;
}

#pause-indicator[data-active="false"] {
  background: #ddd;
}

#pause-indicator[data-active="true"] {
  background: #f38927;
}
